#page-title {
    font-size: 20vh;
    text-align: center;
}
#wrapper{
  align-items: center;
  justify-content: center;
  display: flex;
}

body{
  background-color: #2ecc71;
}
.btn{
  font-size: 3vh;
}

.spacer{
  height:15vh;
}
.spacer2{
  height:4vh;
}
a{
  color:white;
}
