
.icon-chart-pie-alt:before { content: '\e800'; } /* '' */
.icon-chart-bar:before { content: '\e801'; } /* '' */
.icon-wrench:before { content: '\e802'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */